nav {
  height: 120px;
  width: 100%;
  background-color: rgba(119, 136, 153, 0.4);
  color: #FFF;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: .75em 1.5em; 
  z-index: 9;
  position: fixed;
  top: 0px;
}

nav span {
  font-family: 'Bungee', sans-serif;
  font-size: 2em;
}

.new-tweet {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.new-tweet i {
  color: red;
}

.new-tweet p {
  margin-block-end: 0em;
}