
#tweets-container article  {
  display: flex;
  flex-direction: column;
  margin: 1.5em auto;
  font-weight: 600;
  border: 3px solid #545149;
  padding: .7em;
}

#tweets-container article:hover {
  box-shadow: .4em .4em #b8b8b8;
}

#tweets-container article header, #tweets-container article footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 300;
}

#tweets-container article footer {
  border-top: 3px solid #545149;
  font-size: 1rem;
}

#tweets-container i {
  color: #4056A1;
}

#tweets-container i:hover {
  color: #f6c849;
}

.user-markers {
  display: flex;
  align-items: center;
}

#tweets-container header > p {
  color: #868686;
  font-weight: 600;
}

/* if a single word tweet tries to stretch across the whole screen, break it off to fit in the box */
.tweet-content {
  word-wrap: break-word;
}

.user-markers img {
  margin-right: 1em;
}